<!DOCTYPE html>
<html lang="en">
  <body>
    <nav>
      <a href="/">Feed</a>
      <a href="/">Create Post</a>
      <a href="/contact">Contact us</a>
      <a href="/sign-up">Account</a>
    </nav>
  </body>
</html>
