<!DOCTYPE html>
<html lang="en">
  <body>
    <nav>
      <li>
        <a href="/">Feed</a>
      </li>
      <li>
        <a href="/">Create Post</a>
      </li>
      <li>
        <a href="/contact">Contact us</a>
      </li>
      <li>
        <a href="/login">Account</a>
      </li>
      <li>
        
          <li>
            <a href="/admin-users">Users</a>
          </li>
          <li>
            <a href="/admin-contact">Contacts</a>
          </li>
        
      </li>
    </nav>
  </body>
</html>
