<!DOCTYPE html>
<html lang="en">
  <body>
    <nav>
      <a href="/">Feed</a>
      <a href="/">Create Post</a>
      <a href="/contact">Contact us</a>
      <a href="/login">Account</a>
      <a href="/admin-users">Users</a>
      <a href="/admin-contact">Contacts</a>
    </nav>
  </body>
</html>
