<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Doodads - Home</title>
    <meta name="viewport" content="width=device-width, intitial-scale=1.0">
    <link rel="stylesheet" href="styles/doodad-style.css">
  </head>
  <body>
    <!-- Navigation Bar -->
    <header><%- include('partials/nav') %></header>
    <!-- Message to user -->
    <main>
      <h1>We have received your submission</h1>
      <h1>Well get back to you shortly</h1>
    </main>
  </body>
</html>
