<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Doodads - Home</title>
        <meta name="viewport" content="width=device-width, intitial-scale=1.0">
        <link rel="stylesheet" href="styles/doodad-style.css">
    </head>
    <body>
        <!-- Navigation Bar -->
        <header>
            <nav>
                <a href="/">Feed</a>
                <a href="/">Create Post</a>
                <a href="/contact">Contact us</a>
                <a href="/login">Account</a>
            </nav>
        </header>
        <!-- Message to user -->
        <main>
            <h1>We have recieved your submsion</h1>
            <h1>Well get back to you shortly</h1>
        </main>
    </body>
</html>