<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" initial-scale=1.0>
    <link rel="stylesheet" href="styles/doodad-style.css">
    <script src="js/contact-val.js" defer></script>
    <title>Doodads - Contact Us</title>
</head>
<body>
    <header>
        <%- include('partials/nav') %>
    </header>
        <main>
            <form id="contact-us-form" action="/contact-submited" method="post">
                <fieldset>
                    <legend>Contact Us</legend>
                    <label for="name">Name: <span class="err" id="name-err">Please enter your name</span>
                        <input type="text" id="name" name="name">
                    </label>
                    <label for="email">Email: <span class="err" id="email-err">Please enter your email</span>
                        <input type="email" id="email" name="email">
                    </label>
                    <label for="message">Message: <span class="err" id="m-err">Please enter a message</span>
                        <textarea name="message" id="message"></textarea>
                    </label>
                </fieldset>
                <button type="submit">Submit</button>
            </form>
        </main>
</body>
</html>