<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/doodad-style.css" />
    <title>Doodads - Post Item</title>
</head>
<body>
    <!-- Navigation Bar -->
    <header><%- include('partials/nav') %></header>
    <form action="/item-comfirmation" method="post">
        <fieldset>
            <legend>Create Item</legend>
            <label for="img">Image Link
                <input type="text" name="img" id="img">
            </label>
            <label for="name">Name:
                <input type="text" name="name" id="name">
            </label>
            <label for="price">Price:
                <input type="number" name="price" id="price">
            </label>
            <label for="desc">Description:
                <textarea name="desc" id="desc"></textarea>
            </label>
        </fieldset>
        <button>Post</button>
    </form>
</body>
</html>