<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Doodads - Home</title>
        <meta name="viewport" content="width=device-width, intitial-scale=1.0">
    </head>
    <body>
        <header>
            <nav>
                <a href="/" class="nav-links">Feed</a>
                <a href="/" class="nav-links">Create Post</a>
                <a href="/login" class="nav-links">Account</a>
            </nav>
        </header>
        <h1>Test</h1>
    </body>
</html>