<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Doodads - Home</title>
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <link rel="stylesheet" href="styles/doodad-style.css"/>
    <link rel="icon" href="images/Blue_square_D.PNG">
  </head>
  <body>
    <header>
      <!-- Navigation Bar -->
      <%- include('partials/nav') %>
    </header>
    <main>
      <h1>Welcome to Doodads.com, the best online collectable auction!</h1>
      <!-- DELETE LATER -->
      <span>For Tina: the form is on contact us page (delete later)</span>
      <!-- FEED -->
       <!-- Take out the in line styles later -->
      <div>
        <h1>Listings:</h1>
        <ul>
          <% items_feed.forEach(item =>{ %>
            <% const link = "/item?id=" + item.id; %>
            <a style="color: black; display: block;" href=<%= link %> ><%= item.name %></a>
          <% }); %>
        </ul>
      </div>
    </main>
  </body>
</html>
