<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doodads - Log In</title>
</head>
<body>
    <div>
        <h1>COPY NAV BAR HERE LATER</h1>
    </div>

    <form action="#" method="post">
        <fieldset>
            <label for="email">Email:
                <input type="email">
            </label>
            <label for="pass">
                <input type="password">
            </label>
        </fieldset>
        <button>Submit</button>
    </form>
</body>
</html>