<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doodads - Log In</title>
</head>
<body>
    <header>
        <nav>
            <a href="/" class="nav-links">Feed</a>
            <a href="/" class="nav-links">Create Post</a>
            <a href="/login" class="nav-links">Account</a>
        </nav>
    </header>

    <form action="#" method="post">
        <fieldset>
            <label for="email">Email:
                <input type="email">
            </label>
            <label for="pass">
                <input type="password">
            </label>
        </fieldset>
        <button>Submit</button>
    </form>
</body>
</html>