<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Doodads - Log In</title>
    <link rel="stylesheet" href="styles/doodad-style.css" />
  </head>
  <body>
    <header><%- include('partials/nav') %></header>

    <form id="login-form" action="/logged-in" method="post">
      <fieldset class="emailpass">
        <label for="email"
          >Email:
          <input type="email" />
        </label>
        <label for="pass"
          >Password:
          <input type="password" />
        </label>
      </fieldset>
      <button type="submit" id="login-button" name="login-button">
        Log In
      </button>
    </form>
    <p>Don't have an account?<a href="/sign-up" id="login-link">Sign up!</a></p>
  </body>
</html>
