<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doodads - Signed Up</title>
    <link rel="stylesheet" href="styles/doodad-style.css">
</head>
<body>
<main>
    <!-- Navigation Bar -->
    <header><%- include('partials/nav') %></header>
    <h1>Hello <%= user.fname %> ,</h1>
    <h1>Thank you for creating your account!</h1>
    <p>Your email is <%= user.email %> . Please contact us if you forget your password.</p>
    <h2>Please click here to <a href="/login" id="login-link">login</a>.</h2>
</main>
</body>
</html>