* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
    font-family: "Segoe UI", Roboto, sans-serif;
}

header {
    background-color: #3287e3;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 1.5rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

a {
    font-size: 32px;
    color: white;
}

main {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
}