* {
    box-sizing: border-box;
}

:root {
    --primary-color: #3287e3;
}

body {
    margin: 0;
    background-color: white;
    font-family: "Segoe UI", Roboto, sans-serif;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0 1.5rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 45%;
}

a {
    font-size: 32px;
    color: white;
    text-decoration: none;
}

main {
    width: 70%;
    margin: auto;
}

h1 {
    text-align: center;
}

.emailpass {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 20px;
    padding: 1rem 0 1rem 1rem;
    display: block;
}

input {
    border: 1px solid lightslategrey;
    border-radius: 4px;
    width: 20rem;
    font-size: 20px;
}

button {
    background-color: var(--primary-color);
    font-size: 24px;
    padding: 8px 24px 8px 24px;
    border: none;
    margin: 2rem 0;
    color: white;
    border-radius: 4px;
}

button:hover {
    background-color: #78b1ed;
    cursor: pointer;
}

.err {
    /* font-size: 24px; */
    color: darkred;
    display: none;
}

/* CONTACT US STYLES */

#contact-us-form fieldset input, #contact-us-form fieldset textarea{
    display: block;
    margin: .3rem;
    width: 100%;
}
#contact-us-form fieldset label{
    margin-bottom: 1rem;
    margin-left: 0;
}
#contact-us-form {
    display: block;
    margin-top: 2rem;
    max-width: 600px;
    margin: auto;
}

#contact-us-form button{
    display: block;
    margin-left: 0;
}

/* Form styles */
fieldset{
    display: block;
    width: 400px;
    margin: 0 auto;
}

form{
    display: block;
    width: 100%;
    max-width: 450;
    text-align: center;
    margin: 1rem auto;
}

/* signup confirmation page */
#login-link{
    color: #3287e3;
}



@media screen and (max-width: 600px) {
    /* Making the main 100% so it looks good on mobile */
    main{
        width: 100%;
        margin: 0;
    }
    /* Feel free to change */
    /* FIX NAVBAR mobile */
    header nav a {
        display: block;
        margin-bottom: 1rem;
        text-decoration: underline;
        font-size: 16px;
    }
     header nav {
        display: block;
    }
}